.main-container {
	.calculator-container {
        padding: 18px;
		.title {
			display: flex;
			justify-content: center;
            padding: 18px;
			border: 2px solid black;
			border-radius: 15px;
		}

        .dog-size-container{
            margin: 20px 0;
            padding: 18px;
            border: 2px solid black;
			border-radius: 15px;

            .dog-sizes{
                display:flex;
                
                .dog-size{
                }
            }
        }
	}
}
